@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Hồ Chi Minh <br />
    09 Dương Quảng Hàm, phưởng 5, Gò Vấp<br />
    <abbr title="Phone">Phone:</abbr>
    0395313750
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:phongp1192002@gmail.com">phongp1192002@gmail.com</a><br />
</address>